body {
    background-color: white;
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    font-size: 13px;
}


.content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.google_search {
    background-color: white;
    margin: 10px;
    width: 450px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid blue;
}

.google_search:hover {
    color: grey;
}

.search_button {
    margin-right: 15px;
    font-size: 14px;
    width: 150px;
    height: 36px;
    text-align: center;
    font-family: arial;
    border-radius: 4px;
    line-height: 27px;
    padding: 0 16px;
    border: 1px solid #303134;
    cursor: pointer;
    user-select: none;
    color: #303134;
}

.lucky {
    margin-right: 15px;
    font-size: 14px;
    width: 150px;
    height: 36px;
    text-align: center;
    font-family: arial;
    border-radius: 4px;
    line-height: 27px;
    padding: 0 16px;
    border: 1px solid #303134;
    cursor: pointer;
    user-select: none;
    color: #303134;
}

.lower {
    display: inline-block;
    line-height: 28px;
    flex-grow: 1;
    display: block;
}

.country {
    
    padding: 15px 30px;
    padding-top: 550px;
    border-bottom: 1px solod #212627;
    font-size: 15px;
}

.first_part {
    display:block;
    justify-content: space-evenly;
    margin-left: 250px;
}

.advert {
    padding: 15px;
    white-space: nowrap;
}

.second_part {
}